In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn import tree

In [2]:
import pandas as pd
people = pd.read_csv('Traffic_Crashes_-_People.csv')
people.head()

/Users/alextyryshkin/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (20,24,25,26,29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O10,DRIVER,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,...,NaN,FAILED TO YIELD,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O100,DRIVER,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,...,NaN,FOLLOWED TOO CLOSELY,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O1000,DRIVER,f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...,HY407431,954.0,09/02/2015 11:45:00 AM,NaN,CHICAGO,IL,NaN,...,NaN,UNKNOWN,UNKNOWN,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10000,DRIVER,15a3e24fce3ce7cd2b02d44013d1a93ff2fbdca80632ec...,HY484148,9561.0,10/31/2015 09:30:00 PM,NaN,SKOKIE,IL,60076,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O100001,DRIVER,2fcefeab458932d8b1b12e103c18c50adc659943cccd4b...,HZ525619,96762.0,11/15/2016 05:45:00 PM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [12]:
people.shape

(965894, 30)

In [4]:
import pandas as pd
crashes = pd.read_csv('Traffic_Crashes_-_Crashes.csv')
crashes.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,073682ef84ff827659552d4254ad1b98bfec24935cc9cc...,JB460108,NaN,10/02/2018 06:30:00 PM,10,NO CONTROLS,NO CONTROLS,CLEAR,DARKNESS,PARKED MOTOR VEHICLE,...,0.0,0.0,1.0,0.0,18,3,10,NaN,NaN,NaN
1,1560fb8a1e32b528fef8bfd677d2b3fc5ab37278b157fa...,JC325941,NaN,06/27/2019 04:00:00 PM,45,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,...,0.0,0.0,2.0,0.0,16,5,6,NaN,NaN,NaN
2,009e9e67203442370272e1a13d6ee51a4155dac65e583d...,JA329216,NaN,06/30/2017 04:00:00 PM,35,STOP SIGN/FLASHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,0.0,0.0,3.0,0.0,16,6,6,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989)
3,00e47f189660cd8ba1e85fc63061bf1d8465184393f134...,JC194776,NaN,03/21/2019 10:50:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",TURNING,...,0.0,0.0,2.0,0.0,22,5,3,41.741804,-87.740954,POINT (-87.740953581987 41.741803598989)
4,0126747fc9ffc0edc9a38abb83d80034f897db0f739eef...,JB200478,NaN,03/26/2018 02:23:00 PM,35,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,...,0.0,0.0,2.0,0.0,14,2,3,41.953647,-87.732082,POINT (-87.732081736006 41.953646899951)

In [11]:
crashes.shape

(433850, 49)

In [3]:
vehicles = pd.read_csv('Traffic_Crashes_-_Vehicles.csv')
vehicles.head()

/Users/alextyryshkin/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,55,58,59,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,10,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,08/04/2015 12:40:00 PM,1,DRIVER,NaN,10.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,07/31/2015 05:50:00 PM,1,DRIVER,NaN,96.0,NaN,NISSAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000,f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...,HY407431,09/02/2015 11:45:00 AM,1,DRIVER,NaN,954.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10000,15a3e24fce3ce7cd2b02d44013d1a93ff2fbdca80632ec...,HY484148,10/31/2015 09:30:00 PM,2,DRIVER,NaN,9561.0,NaN,HYUNDAI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100000,1d3c178880366c77deaf06b8c3198429112a1c8e8807ed...,HZ518934,11/16/2016 01:00:00 PM,2,PARKED,NaN,96745.0,NaN,"TOYOTA MOTOR COMPANY, LTD.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
vehicles.shape

(886937, 72)

In [6]:
## Joining people and crashes dataframes
df_people_crashes = pd.merge(people, crashes, on='CRASH_RECORD_ID', how='inner')

df_people_crashes.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO_x,VEHICLE_ID,CRASH_DATE_x,SEAT_NO,CITY,STATE,ZIPCODE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,O10,DRIVER,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,...,0.0,0.0,2.0,0.0,12,3,8,41.903416,-87.656037,POINT (-87.65603711678 41.903416088848)
1,O11,DRIVER,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,11.0,08/04/2015 12:40:00 PM,NaN,ORLAND PARK,IL,60462,...,0.0,0.0,2.0,0.0,12,3,8,41.903416,-87.656037,POINT (-87.65603711678 41.903416088848)
2,O100,DRIVER,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,...,0.0,0.0,2.0,0.0,17,6,7,41.848588,-87.618689,POINT (-87.618688565091 41.848587734205)
3,O101,DRIVER,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,97.0,07/31/2015 05:50:00 PM,NaN,PLAINFIELD,IL,60544,...,0.0,0.0,2.0,0.0,17,6,7,41.848588,-87.618689,POINT (-87.618688565091 41.848587734205)
4,O1000,DRIVER,f2b1adeb85a15112e4fb7db74bff440d6ca53ff7a21e10...,HY407431,954.0,09/02/2015 11:45:00 AM,NaN,CHICAGO,IL,NaN,...,0.0,0.0,2.0,0.0,11,4,9,41.904034,-87.629923,POINT (-87.629922816094 41.904033653296)

In [7]:
## Joining people_crashes and vehicles
df_combined = pd.merge(df_people_crashes, vehicles, on='CRASH_RECORD_ID', how='inner')

df_combined.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO_x,VEHICLE_ID_x,CRASH_DATE_x,SEAT_NO,CITY,STATE,ZIPCODE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,O10,DRIVER,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,O10,DRIVER,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,10.0,08/04/2015 12:40:00 PM,NaN,CHICAGO,IL,60641,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,O11,DRIVER,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,11.0,08/04/2015 12:40:00 PM,NaN,ORLAND PARK,IL,60462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,O11,DRIVER,2e31858c0e411f0bdcb337fb7c415aa93763cf2f23e02f...,HY368708,11.0,08/04/2015 12:40:00 PM,NaN,ORLAND PARK,IL,60462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,O100,DRIVER,e73b35bd7651b0c6693162bee0666db159b28901437009...,HY374018,96.0,07/31/2015 05:50:00 PM,NaN,ELK GROVE,IL,60007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_combined.isna().sum()

PERSON_ID                        0
PERSON_TYPE                      0
CRASH_RECORD_ID                  0
RD_NO_x                      11524
VEHICLE_ID_x                 42052
                            ...
CARGO_BODY_TYPE            2001360
LOAD_TYPE                  2002440
HAZMAT_OUT_OF_SERVICE_I    2003881
MCS_OUT_OF_SERVICE_I       2003471
HAZMAT_CLASS               2017091
Length: 149, dtype: int64

In [10]:
df_combined.shape

(2018416, 149)